#main-cont {
   box-shadow: 1px 2px 5px black;
   padding-top:10px;
   padding-bottom:10px;
   background-color: #F4F4F4;
   margin-bottom: 20px;
   overflow:hidden;
}

.project-img{
   border:1px solid black;
   max-width: 110px;
   max-height: 100px;
}

.hover-tilt{
   color: black;
}

.hover-tilt > div:hover{
   background-color: #CAE5FF;
   color:black;
}

.blue-back{
   box-shadow: 0px 1px 5px #428bca;
}

.dark{
   color: #0F0F0F;
   font-weight:bold;
}

.shift {
   margin-left: -15px;
}

.border-blue {
   border-top: 1px solid #428bca;
   margin-top:-6px;
}

.spacing{
   min-width:420px;
}

#profile-Pic{
   min-width:120px;
   min-height:120px;
}
