/* css styles */
* {
	margin: 0px;
	padding: 0px;
	color: black;
	font-family: 'Tangerine', serif;
	font-size: 1em;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: white;
	background-color: black;
}

a:active {
	text-decoration: none;
	background-color: black;
}

#menu li {
	border: 1px solid black;
	padding: 15px;
	font-size: 1.1em;
	list-style-type: none;
	display: inline;
	float: left;
}

#menu {
	text-align: center;
	min-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

#topSection {
  min-width: 500px;
  margin-left: 15px;
}