/* css styles */
* {
	margin: 0px;
	padding: 0px;
	color: black;
	font-family:  Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: lighter;
	font-size: 1em;
}

a.menuItem:link{
	text-decoration: none;
}

a.menuItem:visited {
	text-decoration: none;
}
a.menuItem:hover {
	background: black;
	color: white;
}
a.menuItem:active{
	/*blah*/
}

#menu li {
	padding: 15px;
	font-size: 1.1em;
	list-style-type: none;
	display: inline;
	float: left;
}

#menu {
	text-align: center;
	min-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

#topSection {
	x`
	border: 1px solid black;
	min-width: 500px;
	margin-left: 15px;
}