/* css styles */
* {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: .97em;
}

.mli {
	margin-bottom: 15px;
	height: auto;
	width: 100%;
	list-style-type: none;
}

#button {
	float:right;
	margin-right: 20px;
	margin-top: -1px;
	width: 53px;
	height: 53px;
	border: 1px solid black;
}

#extraMenu{
	width: 100%;
	height: 0px;
	overflow: hidden;
}
#contactInfo {
	margin: 5px;
	padding: 5px;
	width: auto;
	height: auto;
	font-size: 1.1em;
}

#toggle {
	height: 20px;
	width: 20px;
}


.workOverView{
	margin-left: -30px;
	padding-bottom: 5px; 
	list-style-type: none;
}
.traits {
	list-style-type: circle ;
}
.experienceHeader {
	float:left;
	position: relative;
	width: 33.333%;
	height: auto;
	margin-bottom: 5px;
	margin-top: 5px;
	color:#424242;
	font-size: 1.1em;

}

.smallExperienceHeader{
	height: auto;
	margin-bottom: 5px;
	margin-top: 5px;
	color:#424242;
	margin-left: -40px;
	font-size: 1.1em;
}

h1 {
	font-size: 1.3em;
	color: black;
}

body {
	margin: 0px;
}

article {
	color: #848484;
	margin-bottom: 5px;
	padding-right: 5px;
	width: auto;
	height: auto;
}

.contact {
	font-size: .85em;
	list-style-type: none;
}

#contactList {
	padding: 0px;
	margin: 0px;
}

#main {

	margin: 0px;
	padding-left: 20px;
	padding-left: 35px;
}


.menuItemVert {
	text-decoration: none;
	color: black;
}

.menuItemVert:hover {
	background-color: black;
	color: white;
}


.menuItem{
	margin:0px;
	padding: 0px;
	float: left;
	width: auto;
	color: black;
	height: 53px;
}

.menuItem:link{
	text-decoration: none;
	color: black;
}
.menuItem:active{
	text-decoration: none; 
	color: black;
}
.menuItem:visited {
	text-decoration: none;
	color: black;
}

.menuItem:hover {
	background-color: black;
	color: white;
}

#list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#langSkill {
	height: 100px;
}

#collapseButton {
	float:right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	height: 40px;
}

.language {
	position: relative;
	display: inline;
	padding-bottom: 5px;
	float: left;
	width: 16.666%;
	height: auto;
}

#menu li {
	height: 23px;
	margin:0px;
	padding: 15px;
	float: left;
	list-style-type: none;
	display: inline;
}

#menu {
	margin:0px;
	padding: 0px;
	height: 53px;
	width: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#topSection {
	margin:0px;
	padding: 0px;
	color:black;
	width: auto%;
	height: 53px;
	padding-left: 20px;
	border-bottom: 1px solid black;
}